<h1 mat-dialog-title>{{data.nombreRec}}</h1>
<div mat-dialog-content >
  <div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="input-modelo" hidden="true">
        <mat-label>Id</mat-label>
        <input id="id" disabled="true" readonly matInput [(ngModel)]="data.id">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="input-modelo">
        <mat-label>Nombre</mat-label>
        <input id="nombreRec" readonly matInput [(ngModel)]="data.nombreRec">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="input-modelo">
        <mat-label>Tipo</mat-label>
        <input id="tipoRec" readonly matInput [(ngModel)]="data.tipoRec">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="input-modelo">
        <mat-label>Descripcion</mat-label>
        <textarea id="descripcionRec" rows="7" wrap="hard"  readonly matInput [(ngModel)]="data.descripcionRec"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="input-modelo">
        <mat-label>Path</mat-label>
        <textarea id="rutaRec" rows="7" wrap="hard" readonly matInput [(ngModel)]="data.rutaRec"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group" hidden="true">
        <mat-form-field appearance="fill" class="input-modelo">
          <mat-label>idApl</mat-label>
          <input id="idApl" disabled="true" readonly matInput [(ngModel)]="data.idApl">
        </mat-form-field>
    </div>  
</div>
<!--
<div>
  <img src={{imagePath}} />
</div>
<div>
  <img [src]="frontImageSrc" alt="image"/>
</div>
</div>
-->


<div>
  <button type="button" class="btn btn-success" (click)="onDownload(data.rutaRec)">Abrir Recurso</button>
</div>