

  <div *ngIf="maestro">  
      <div class="container" *ngIf="!submitted">    
        <h3>Ingreso Informaci&oacute;n</h3>
        <div class="form-group" hidden="true">
          <mat-form-field appearance="fill" class="input-modelo">
            <mat-label>Id</mat-label>
            <input id="id" disabled="true" matInput [(ngModel)]="newComponenteAplicacion.id">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="input-modelo">
            <mat-label>Nombre</mat-label>
            <input id="nombreCom" matInput [(ngModel)]="newComponenteAplicacion.nombreCom">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="input-modelo">
            <mat-label>Descripci&oacute;n</mat-label>
            <textarea id="descripcionCom" rows="7" wrap="hard" matInput [(ngModel)]="newComponenteAplicacion.descripcionCom"></textarea>
			  </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="input-modelo">
          <mat-label>Tipo</mat-label>
          <mat-select id="tipoCom" value="{{newComponenteAplicacion.tipoCom}}" [(ngModel)]="newComponenteAplicacion.tipoCom">
            <mat-option *ngFor="let value of detalleCatalogoTipo " value="{{value.id}}"> {{ value.nombreDet }}</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group" hidden="true">
          <mat-form-field appearance="fill" class="input-modelo">
            <mat-label>idApl</mat-label>
            <input id="idApl" matInput [(ngModel)]="newComponenteAplicacion.idApl">
          </mat-form-field>
        </div>
        
          <div class="form-group">
            <button mat-flat-button color="primary" (click)="saveComponenteAplicacion()">
            <mat-icon>save</mat-icon>&nbsp;Guardar
            </button>&nbsp;
            <button mat-flat-button color="primary" (click)="cleanPanel()">
            <mat-icon>insert_drive_file</mat-icon>&nbsp;Nuevo
            </button>&nbsp;
            <button mat-flat-button color="primary" (click)="disablePanel()">
            <mat-icon>close</mat-icon>&nbsp;Cerrar
            </button>
            <br>
            <br>
          </div>
    </div>
        <div >          
          <button mat-flat-button color="primary" (click)="enablePanel()" *ngIf="!viewMode&&submitted">
            <mat-icon>add</mat-icon>&nbsp;A&ntilde;adir
          </button>
          <br><br>
          <div *ngIf="tableActive">
            <div *ngIf="tableActive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="id" hidden="true">
                <th mat-header-cell *matHeaderCellDef hidden="true"> Id </th>
                <td mat-cell *matCellDef="let element" hidden="true"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="nombreCom">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreCom}} </td>
              </ng-container>
              <ng-container matColumnDef="tipoCom">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                  <select class="tabla-sf" value="{{element.tipoCom}} " disabled="true" [(ngModel)]="element.tipoCom">
                    <option *ngFor="let value of detalleCatalogoTipo " value="{{value.id}}"> {{ value.nombreDet }}</option>
                  </select>
                </td>
              </ng-container>
              <ng-container matColumnDef="idApl" hidden="true">
                <th mat-header-cell *matHeaderCellDef hidden="true"> idApl </th>
                <td mat-cell *matCellDef="let element" hidden="true"> {{element.idApl}} </td>
              </ng-container>
              <ng-container matColumnDef="descripcionCom">
                <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcionCom}} </td>
              </ng-container>
              
              <ng-container matColumnDef="getDetalle">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary"  
                matTooltip="Listar propiedades item"
                (click)="setActiveAplicacion(element)">
                  <mat-icon>list_alt</mat-icon>
                </button> 
                </td>
              </ng-container>
              <ng-container matColumnDef="getEdit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary" *ngIf="!viewMode"  
                  matTooltip="Editar item"
                (click)="editComponenteAplicacion(element)">
                  <mat-icon>edit</mat-icon>
                </button> 
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
              </table>
            </div>
          </div>
      </div>
  </div>




      <div *ngIf="detalle">
              
          <button mat-icon-button color="primary" (click)="setActiveComponente()">
            <mat-icon>arrow_back</mat-icon>
          </button>  
          <label>{{currentComponenteAplicacion.nombreCom}}</label>
            <app-infraestructura-componente
            [viewMode]=viewMode
            [currentComponenteAplicacion]=currentComponenteAplicacion
          ></app-infraestructura-componente>
        </div>